*.pkl
*.pyc
venv
*swp
!/data
/data/*
!/data/instructions.txt
!/opt_parameters_bo
/opt_parameters_bo/*
!/dataframe
/dataframe/*
!/dataframe/df_only_risky_events.pkl
!/dataframe/df_full_range.pkl
!/validation-results
/validation-results/*
