*.pkl
*.pyc
venv
*swp
!/data
/data/*
!/data/instructions.txt
!/opt_parameters_bo
/opt_parameters_bo/*
!/opt_parameters_bo/param_lgb_adjusted_r2_only_risky_events.pkl
!/opt_parameters_bo/param_lgb_r2_only_risky_events.pkl
!/dataframe
/dataframe/*
!/dataframe/df_only_risky_events.pkl
!/dataframe/df_full_range.pkl
!/validation-results
/validation-results/*
!/validation-results/r_evalm-lgb_adjusted_r2_hp_metric-_regression_L2.txt
!/validation-results/r_evalm-lgb_r2_hp_metric-_regression_L2.txt
envs
report
!/opt_parameters_ada_boost
*.txt
*.sav
